// Colors palette
$white: white;
$black: black;
$darkRed: #e00000;
$middleRed: #fe5858;
$lightRed: #ffd6d6;
$darkBlue: #313144;
$darkGrey: #c4c4c4;
$mediumGrey: #d8d8d8;
$lightGrey: #e5e5e5;

// General styling parameters
body {
    max-width: 1440px;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}

// Designing the menu
header {
    display: flex;
    justify-content: center;
}
